body {
    background-color: #30859b;
}

/* Personalizzazione della barra di navigazione */
.navbar {
    width: 100%;
    /* Imposta la larghezza al 100% */
    height: 7.2%;
    margin-bottom: 1.8%;
    /* Aggiunge spazio sotto la barra di navigazione */
    background-color: #0b738dd5;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.108);

}

/* Stili dei link nella barra di navigazione */
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    /* Colore del testo dei link */
    padding: 0.5em 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95vw;
    /* Cambia il font per gli intestazioni */
    border: 2px solid transparent;
    /* Aggiunge un bordo trasparente ai link */
    position: relative;
    /* Imposta la posizione come relativa */
}

/* Effetto di hover sui link nella barra di navigazione */
.navbar-dark .navbar-nav .nav-link:hover {
    transition: background-color 0.3s ease;
    color: #ffd900;


}

/* Stili delle linee colorate */
.navbar-dark .navbar-nav .nav-link::before,
.navbar-dark .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ffd900;
    transition: width 0.3s ease;
}

/* Effetto di hover sulle linee colorate */
.navbar-dark .navbar-nav .nav-link:hover::before,
.navbar-dark .navbar-nav .nav-link:hover::after {
    width: 100%;
    height: 5%;
}

/* Posizione delle linee colorate */
.navbar-dark .navbar-nav .nav-link::before {
    top: 0;
    left: 0;
}

.navbar-dark .navbar-nav .nav-link::after {
    bottom: 0;
    right: 0;
}

/* Personalizzazione della sezione foto e testo */
.container {
    padding: 2%;
    background-color: #0b738dd5;
    max-width: 80%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.108);
}

.container img {
    margin-top: 11%;
    max-width: 100%;
    max-height: 80%;

}

.container h2 {
    font-size: 2.3vw;
    font-family: 'Montserrat', sans-serif;
    /* Cambia il font per gli intestazioni */
    margin-top: 0;
    color: #fff;
}

.container h1 {
    font-size: 2.7vw;
    font-family: 'Montserrat', sans-serif;
    /* Cambia il font per gli intestazioni */
    margin-top: 0;
    color: #fff;
    text-align: center;
}

.container p {
    margin-left: 2%;
    font-size: 0.95vw;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    /* Cambia il font per gli intestazioni */
    text-align: justify;
}

.row_custom {
    justify-content: space-around;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
}

.carousel-inner {
    transition: transform 0.3s ease-in-out;
    /* Tempo di transizione e funzione di animazione */
}

.carousel-item {
    opacity: 1;
    /* Opacità durante la transizione */
}

.carousel-item.active {
    opacity: 0.8;
    /* Opacità per l'elemento attivo */
}

#imageCarousel {
    border-top: #fff 4px solid;
    /* Aggiunge un bordo alla parte superiore del carousel */
    border-bottom: #fff 4px solid;
    /* Aggiunge un bordo alla parte inferiore del carousel */
    margin-bottom: 2%;
    /* Puoi regolare il valore in base alle tue preferenze */
    padding: 3%;
}

/* Personalizza lo stile dei controlli con bottoni del carosello */
.carousel-control-prev {
    background-color: transparent;
    /* Colore di sfondo */
    color: #fff;
    /* Colore dell'icona */
    left: -25%;
}

.carousel-control-next {
    background-color: transparent;
    /* Colore di sfondo */
    color: #fff;
    /* Colore dell'icona */
    right: -25%;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent;
    /* Colore dell'icona */
    color: #fff;
    /* Colore dell'icona */
    font-size: 40px;
    /* Dimensione dell'icona */
    width: 70%;
    /* Dimensione dell'icona */
    height: 70%;
    /* Dimensione dell'icona */
}

.aspect-ratio {
    padding-top: 100%;
    /* Mantieni l'aspetto quadrato */
    position: relative;
    overflow: hidden;
}

.aspect-ratio .card-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.linkdln {
    background-color: rgb(27, 70, 111);

}

.instagram {
    background-color: #E1306C;

}

.github {
    background-color: black;

}

.instagram:hover {
    background-color: transparent;
}

.linkdln:hover {
    background-color: transparent;
}

.github:hover {
    background-color: transparent;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto;
    background-repeat: round;
    z-index: 0;
    opacity: 0;
    /* Opacità iniziale */
    transition: opacity 0.3s;
}

.card:hover .card-image {
    opacity: 1;
    /* Opacità completa al passaggio del mouse */
}


.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.container_2 {
   background: rgba(60, 59, 59, 0.253);
    border: 2px solid rgb(111, 110, 110);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    /* Sposta al centro verticale */
    left: 50%;
    /* Sposta al centro orizzontale */
    transform: translate(-50%, -50%);
    /* Ri-posiziona al centro */
    width: 75%;
    height: 30%;
    transition: opacity 0.8s ease-in-out;
    transition: all 0.6s ease-in-out;

    /* Aggiungi una transizione di 0.3 secondi con effetto di dissolvenza */
    opacity: 1;
    /* Opacità iniziale */
}

.linkdln:hover .container_2 {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.instagram:hover .container_2 {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.github:hover .container_2 {
    opacity: 0;
    width: 100%;
    height: 100%;
}



.container_2 h1 {
    font-size: 50 px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    /* Cambia il font per gli intestazioni */
    text-align: justify;
}

.card{
    border: 1px solid #0b738dd5 ;
}

.flex-row {
   border-top: #fff 4px solid;
   border-bottom: #fff 4px solid;
   margin: 2%;
   padding: 4%;
}


.my-custom-video {
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2% auto;
    display: block;
    overflow: hidden;
}

.btn-custom{
    position: relative;
    display: block;
    align-items: end;
    left: 45%;
    width: 10%;
    height: 8%;
    text-size-adjust: 1.2rem;
    background-color: #30859b;
    border: #fff 2px solid;
    transition: all 0.3s ease-in-out;
    color: #fff;


}

.btn-custom:hover{
    background-color: #fff;
    border: #30859b 3px solid;
    color: #30859b;
    transform: scale(1.2);
}

.custom-tooltip{
    color: #fff;
}

.custom-image{
    height:100% !important;
    width: 100% !important;
    border: 2px solid #0b738dd5 ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0% !important;
}